<div class="employee-card col-span-1 p-5 transition duration-500 ease-in-out transform bg-gray-200 rounded-lg shadow-md m-7 hover:-translate-y-1 hover:scale-105 hover:shadow-2xl">
    <h4 class="text-4xl  font-thin"><strong>{{ name }}</strong></h4>
    <h3 class="text-xl"> {{ role }} <i class="w-12 h-12 p-3.5 mb-3 mr-3 text-lg rounded-full gradient fas fa-graduation-cap"></i></h3>
    
  <h4 class="text-lg"><strong>ID:</strong>{{ id }}</h4>
  <h4 class="text-lg"><strong>Email:</strong> {{ email }}</h4>
  <h4 class="text-lg"><strong>School:</strong> <a href="https://github.com/{{ github }}">{{ school }}</a> </h4>
</div>